.alerta {
    display: block;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
  
}

.alerta.error {
    background-color: red;
    color: $blanco;
    border: $blanco solid 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.alerta.success {
    background-color: green;
    color: $blanco;
    font-family: Arial, Helvetica, sans-serif;
    border: $blanco solid 2.5px;
    font-weight: bold;
}
.alerta.account {
    background-color: $ElectricSkyBlue;
    color: $blanco;
    font-family: Arial, Helvetica, sans-serif;
    border: $blanco solid 2.5px;
    font-weight: bold;
}

