.tabsAdmin {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: $ElectricSkyBlue;
  color: $blanco;
  width: 100%;
  margin-bottom: 1rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  button {
    background-color: $ElectricSkyBlue;
    border: $ElectricSkyBlue solid 2px;
    color: $blanco;
    padding: 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 1s;
    text-align: center; 
    cursor: pointer;

    &:hover {
      background-color: darken($ElectricSkyBlue, 20%);
      border: darken($ElectricSkyBlue, 20%) solid 2px;
    }

    &.CurrentAdmin {
      background-color: $blanco;
      border: $ElectricSkyBlue solid 2px;
      color: $ElectricSkyBlue;
    }
  }
}

.StepsAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .AdminPanel {
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-family: $Fuente_Principal, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $negro;
    @include laptop {
      font-size: 6rem;
    }
  }

  .WelcomeAdmin {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $negro;
    @include laptop {
      font-size: 3rem;
    }
  }
}
.seccionAdmin {
  display: none;
  h2 {
    margin: 0rem 0 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-family: $Fuente_Principal, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $negro;
    @include laptop {
      font-size: 6rem;
    }
  }

  p {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $DarkGray;

    .TextElectricBlue {
      color: $ElectricBlue;
      font-weight: bold;
    }
    .TextMustard {
      color: $Mustard;
      font-weight: bold;
    }
    .TextCrimsonRed {
      color: $CrimsonRed;
      font-weight: bold;
    }

    @include laptop {
      font-size: 2.5rem;
    }
  }

  .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $DarkGray;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1vh;
    border: 0;
    width: 85%;

    &::placeholder {
      color: $blanco;
      font-weight: bold;
    }

    &::-webkit-calendar-picker-indicator {
      filter: invert(100%);
    }
    @include tablet {
      width: 90%;
      font-size: 2rem;
    }

    @include desktop {
      width: 95%;
    }
  }

  a {
    text-decoration: none;

    .EditorButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $blanco;
      border: $negro solid 2px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: $negro;
      border-radius: 1vh;
      padding: 1rem;
      margin: 1rem 0 2rem 0;
      width: 100%;
      cursor: pointer;
      transition: 1s;

      &:hover {
        background-color: $DarkGray;
        color: $blanco;
      }
    }
  }
}
.ShowAdmin {
  display: block; /* Aplicar prioridad */
}

//STEP NO. 1 RESERVATION
.ReservationAdmin {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  margin: 1rem; /* Agregar separación entre las reservaciones */

  /* Responsividad para tablet */
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Responsividad para dispositivos más grandes */
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .CustomerReservationInformation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: $NavyBlue;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2vh; /* Opcional: bordes redondeados para cada reservación */
    font-family: Arial, Helvetica, sans-serif;
    .CustomerReservation,
    .TableCustomer,
    .EmailCustomer {
      grid-column: span 3;
      font-size: 1rem;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: $blanco;
      font-weight: 100;
    }

    p {
      color: $blanco;
      font-size: 1rem;
    }

    span {
      color: $Mustard;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .Span {
      color: $Mustard;
      font-size: 1.5rem;
      font-weight: bold;
    }

    form {
      grid-column: span 3;
      display: flex;
      justify-content: center;
      .btDelete {
        background-color: $ElectricSkyBlue;
        color: $blanco;
        border: $blanco solid 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 1rem;
        width: 100%;
        max-width: 100%;
        cursor: pointer;
        transition: 1s;

        &:hover {
          background-color: darken($ElectricSkyBlue, 20%);
          border-radius: 2vh;
        }
      }
    }
  }
}
