.Body-Register {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden; /* Evitar scroll */
    height: 100vh; /* Para que ocupe toda la altura de la ventana */
  }
  
  .background-image {
    position: fixed; /* Para que esté detrás de todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
  }
  
  .inner-container {
    width: 400px;
    height: 525px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    overflow: hidden;
    border-radius: 4vh;
  }
  
  .box {
    position: absolute;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: $blanco;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según necesites */
    padding: 3rem 0rem;
    border-radius: 7px;
    backdrop-filter: blur(6px);
  }
  .box h1{
    text-align:center;
    margin: 1rem 0;
    color: $blanco;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box input{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background: rgba(255, 255, 255, 0.5); /* Ajusta la opacidad según necesites */
    color: $Carbonblack;
    border-radius: 7px;
    border:0;
  }
  input::placeholder {
    color: $Carbonblack;
    font-size: 1rem;
    font-weight: bold;
  }
  
  
  .signup{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: $Mustard;
    font-weight: bold;
  
    &:hover{
      color: $Mustard;
      text-decoration: underline;
    }
  }
  //
  .Forget {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    color: $CrimsonRed;
    font-weight: bold;
    &:hover{
      color: $CrimsonRed;
      text-decoration: underline;
    }
  }
  .box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
  }
  .box button{
    background:#2d2f36;
    border:0;
    color: $blanco;
    font-weight: bold;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
    border-radius: 7px;
  }
  .box button:active{
    background:#000000;
  }
  .box p{
    font-size: 1rem;
    text-align:center;
    color: white;
  }