.testimoniales {
    h3 {
        text-align: center;
        font-family: $Fuente_Principal;
        font-size: 1.5rem;
        font-weight: bold;
        color: $negro;
    }
}
.testimonial {
    background-color: $Golden;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 2vh;
    margin: 1rem;
    blockquote {
        padding-left: 5rem;
        position: relative;

        .comillas {
            content: '';
            background-repeat: no-repeat;
            display: block;
            width: 6rem;
            height: 6rem;
            position: absolute;
            left: -2rem;
            filter: invert(100%);
        }
    }
    .Text-testimonial {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: $negro;
    }
    .Autor-testimonial {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-align: right;
        color: $negro;
    }
}